.card-refu {
    width: 320px;
    height: 370px;
    background-color: rgb(216, 217, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
    box-shadow: 0.5rem 0.5rem 0.5rem #413e45b8;
    transition: transform 5s cubic-bezier(.05,.87,.16,.92);
     p {
        padding: 0 10px 0 10px;
    }
   h3 {
        background-color: #e6575e;
        text-align: center;
        color:$color-texto-principal;
        width: 100%;
        padding: 0.5rem;
    }
 
}
.card-refu:hover{
    transform: scale(1.3);
    border: 2px solid $background-secundario;
    z-index: 1;
    

    
   
       }
