@mixin estilo-web {
    text-align: center;
    color: $color-texto-principal;
    padding: 0.3rem .5rem 0.3rem 0.5rem;
    border-radius: 15px;
    text-decoration: none;
    margin-bottom: 1rem;

}

@mixin estilo-parrafo{
    
      
        color: $color-texto-principal;
        text-align: justify;
        padding: 0 10px;
    
}