@media (max-width:425px) {

    /*------------INDEX--------------*/
    .main-index {

        .info-bajada {
            p {
                width: 100%;
            }
        }

        .bajada {
            font-size: 3rem;
        }

        .portada {
            background-size: 65rem;

            h1 {
                font-size: 2.5rem;
            }

        }

        .banner {
            height: 43rem;

        }
    }

    /*------------CATALOGO--------------*/
    .main-catalogo {
        .catalogo {
            grid-gap: 1rem 1rem;
            grid-template-areas:
                "peques"
                "puma"
                "colorido"
                "pomposo"
                "tigre"
                "empoderado"
                "sofisticado";

            .peques img {
                width: 20rem;
            }
        }

        h1 {
            font-size: 3rem;
            margin-bottom: 4rem;
        }


        .info-bajada {
            p {
                width: 100%;
            }
        }

    }

    /*------------FOOTER--------------*/
    footer {
        .footer-cont {
            .linea {
                width: 20%;
            }
        }
    }

    /*------------CONTACTO--------------*/
    .cont-Nom-ape {

        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .contacto textarea {
        width: 18rem;
    }
}