@media (max-width:375px) {

    /*------------INDEX--------------*/
    .main-index {

        .portada {
            height: 30rem;
            background-size: 25rem;
            background-position: top 24rem right -1rem;

            h1 {

                font-size: 4rem;
                text-align: center;
            }

        }

        h2 {
            font-size: 2rem;
            background-color: #321869;

        }

        .bajada {
            padding: 0rem 0 1rem 0;
        }

        .banner {
            height: 12rem;

        }
    }

    /*------------REFUGIOS--------------*/
    .card-refu {
        width: 300px;
        height: 400px;
    }

    .refu-redes {
        padding-bottom: 1rem;

        .icono1 {
            color: #301E67;
            width: 2rem;
            font-size: 2rem;
            margin-left: 1rem;

        }
    }
}